.posttitle{
    background-color: #E0E0E0;
    height: fit-content;
    padding: 2vh 2vh;
    margin-top: 3vh;
    font-weight: bold;
}

.posttext{
    background-color: #F0F0F0;
    height: fit-content;
    padding: 2vh 4vh;
}